@import "base.css";
@import "reset.css";
@import "first_section.css";

body{
    width: 100%;
    padding: 10px;
    background-color: #C19A6B;
}
.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
@media  (max-width: 900px){
    .wrapper{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap ;
    }
    .section__first_content_part,
    .section__second__page__content_part,
    .section__third__part {
        flex-basis: 100%;
        width: 100%;
    }
    .section__third__part {
        display: flex;
        flex-direction: column-reverse;
    }


}

